@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: 
   Date:   
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
   height: 100%;
}

body{
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin-left: auto; /*align body to center*/
   margin-right:auto; /*align body to center*/
   min-height: 100%;
}

img{
   display: block;
}


/* CSS Grid Styles */
body{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}





/* Horizontal Navigation List Styles */



/* Section Styles */




/* Customer Comment Styles */

